@use "helpers"as *
@use "base"as *
@use "layout"as *
@use "components"as *
@use "mixins"as *

body
    color: white
    background: #262629
    height: 100vh
    overflow: hidden
main
    display: grid
    grid-template-columns: 5% 90% 5%
    grid-template-rows: 100%
    justify-content: center
    align-items: center
    
    position: relative
    top: 0
    bottom: 0

    width: 100vw
    height: 100vh
    @media (min-width: $breakpointSm)
        grid-template-columns: 20% 60% 20%

    #section1
        grid-column: 2 / 3
        grid-row: 1 / 2      
    #section2
        grid-column: 2 / 3
        grid-row: 1 / 2  
    #section3
        grid-column: 2 / 3
        grid-row: 1 / 2  

    #section1,
    #section2,
    #section3
        @include flex-center(column)
        display: none
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0

.space
    width: 100vw
    height: 100vh
    &__star
        position: absolute
        background: white
        border-radius: 50%
        margin: 10px
        box-shadow: 1px -1px 16px 1px #fefffd21       
    &__star--xs
        width: 1px
        height: 1px
        @include moving-up(90s, -500vh)
    &__star--sm
        width: 3px
        height: 3px
        @include moving-up(70s, -500vh)
    &__star--md
        width: 6px
        height: 6px        
        @include moving-up(50s, -500vh)

.intro
    text-align: center
    padding: 20px
    &__name
        font-size: 0.8rem
        text-align: center
        text-transform: uppercase
        margin-bottom: 20px
    &__desc
        font-size: 0.6rem
        text-align: center
    &--fadeIn
        @include fadeIn()
    &--fadeOut
        @include fadeOut()        

.healing
    text-align: center
    padding: 20px    
    opacity: 0
    @include flex-center(column)
    &--fadeIn
        @include fadeIn()        
    &__words
        font-size: 0.8rem
        position: fixed
        top: 5%
        left: 5%
        right: 5%
        @media screen and ( min-width: $breakpointMd )
            left: 30%
            right: 30%

        color: white
        font-weight: 600
        text-align: center
    &__words--fadeIn
        @include fadeIn()        
    &__words--fadeOut
        @include fadeOut()
    &__star
        margin: 30px 0
        &__shape
            @include flex-center(row)
            @include starShape()
            .sadly-words
                color: hsl(0, 0%, 20%)
                font-size: 0.5rem
                text-align: center
                padding: 20px
            
    &__star--disappear
        @include disappearing(60s)
    &__input
        > input, > button
            color: gray
            border: none
            outline: none
            opacity: 0.8
            padding: 20px
            text-align: center
            width: 100%
        &__text
            border-radius: 10px 10px 0 0
        &__submit
            cursor: pointer
            border-radius: 0 0 10px 10px
            text-transform: uppercase
            transition: opacity 1s ease-in-out 0s
            &:hover
                opacity: 1

.outro
    font-size: 0.8rem
    text-align: center
    padding: 20px
    margin: auto
    opacity: 0
    &--fadeIn
        @include fadeIn()
    &--fadeOut
        @include fadeOut()