*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
select,
textarea {
  font-family: inherit;
}

html {
  font: 400 18px/1.8 Segoe UI;
}
@media (min-width: 320px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 26px;
  }
}
html h1 {
  font-size: 1.6rem;
}
html h2 {
  font-size: 1.5rem;
}
html h3 {
  font-size: 1.4rem;
}
html p {
  margin-bottom: 1rem;
}
html a {
  color: white;
  text-decoration: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
main {
  display: grid;
  grid-template-columns: 5vw 90vw 5vw;
  grid-template-rows: 100%;
  justify-content: center;
  align-items: center;
  background: #1d1b20;
  color: white;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
@media (min-width: 640px) {
  main {
    grid-template-columns: 20vw 60vw 20vw;
  }
}
main #section1 {
  grid-column: 2/3;
  grid-row: 1/2;
}
main #section2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
main #section3 {
  grid-column: 2/3;
  grid-row: 1/2;
}
main #section1,
main #section2,
main #section3 {
  display: flex;
  flex-flow: column wrap;
  place-content: center;
  place-items: center;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.space {
  width: 100vw;
  height: 100vh;
}
.space__star {
  position: absolute;
  background: white;
  border-radius: 50%;
  margin: 10px;
  box-shadow: 1px -1px 16px 1px #fefffd21;
}
.space__star--xs {
  width: 1px;
  height: 1px;
  animation: moveUp 90s cubic-bezier(0.34, 0.38, 0.72, 0.69) 0s infinite;
}
@keyframes moveUp {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -500vh;
  }
}
.space__star--sm {
  width: 3px;
  height: 3px;
  animation: moveUp 70s cubic-bezier(0.34, 0.38, 0.72, 0.69) 0s infinite;
}
@keyframes moveUp {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -500vh;
  }
}
.space__star--md {
  width: 6px;
  height: 6px;
  animation: moveUp 50s cubic-bezier(0.34, 0.38, 0.72, 0.69) 0s infinite;
}
@keyframes moveUp {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -500vh;
  }
}

.intro {
  text-align: center;
  padding: 20px;
}
.intro__name {
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.intro__desc {
  font-size: 0.6rem;
  text-align: center;
}
.intro--fadeIn {
  animation: fadeIn 3s ease-in-out 0s forwards;
}
.intro--fadeOut {
  animation: fadeOut 3s ease-in-out 0s forwards;
}

.healing {
  text-align: center;
  padding: 20px;
  opacity: 0;
  display: flex;
  flex-flow: column wrap;
  place-content: center;
  place-items: center;
}
.healing--fadeIn {
  animation: fadeIn 3s ease-in-out 0s forwards;
}
.healing__words {
  font-size: 0.8rem;
  position: fixed;
  top: 10vh;
  left: 10vw;
  right: 10vw;
  color: white;
  font-weight: 600;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .healing__words {
    left: 20vw;
    right: 20vw;
  }
}
.healing__words--fadeIn {
  animation: fadeIn 3s ease-in-out 0s forwards;
}
.healing__words--fadeOut {
  animation: fadeOut 3s ease-in-out 0s forwards;
}
.healing__star {
  margin: 0 0 30px 0;
}
.healing__star__shape {
  display: flex;
  flex-flow: row wrap;
  place-content: center;
  place-items: center;
  width: 150px;
  height: 150px;
  background: #f2f2f2;
  border-radius: 50%;
  box-shadow: 0px 0px 50px #a0a098;
}
.healing__star__shape .sadly-words {
  color: #333333;
  font-size: 0.5rem;
  text-align: center;
  padding: 20px;
}
.healing__star--disappear {
  animation: disappearing 60s ease-in-out 0s forwards;
}
@keyframes disappearing {
  0% {
    margin-top: 0;
    transform: scale(100%);
  }
  80% {
    margin-top: 0;
    transform: scale(10%);
  }
  90% {
    margin-top: -50vh;
    transform: scale(5%);
  }
  100% {
    transform: scale(0%);
    margin-top: -100vh;
  }
}
.healing__input > input, .healing__input > button {
  color: gray;
  border: none;
  outline: none;
  opacity: 0.8;
  padding: 20px;
  text-align: center;
  width: 100%;
}
.healing__input__text {
  border-radius: 10px 10px 0 0;
}
.healing__input__submit {
  cursor: pointer;
  border-radius: 0 0 10px 10px;
  text-transform: uppercase;
  transition: opacity 1s ease-in-out 0s;
}
.healing__input__submit:hover {
  opacity: 1;
}

.outro {
  font-size: 0.8rem;
  text-align: center;
  padding: 20px;
  margin: auto;
  opacity: 0;
}
.outro--fadeIn {
  animation: fadeIn 3s ease-in-out 0s forwards;
}
.outro--fadeOut {
  animation: fadeOut 3s ease-in-out 0s forwards;
}

/*# sourceMappingURL=main.css.map */
